* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

main {
    scroll-padding-top: 55px;
    padding-top: 55px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.bg-custom {
    background-color: rgb(32, 59, 85);
}

.jumbotron {
    width: 100%;
    height: 90vh;
    background-image: url("../images/homeBg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.container{
    width: 100%;
    height: 100%;
    color: rgb(5, 5, 5);
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

@keyframes places {
    
    20% {
        content: "Malasiya";
    }

    40% {
        content: "Dubai";
    }

    60% {
        content: "Thailand";
    }

    80% {
        content: "Bangkok";
    }
}

#places:after {
    content: "London";
    animation-name: places;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.display-5 {
    font-size: xx-large;
}

